.sale
  padding: 7rem 0 4rem
  margin-top: 8rem
  position: relative
  background: #F0F4F9
  overflow: hidden
  &__head
    display: flex
    justify-content: space-between
    align-items: center
  &__control
    display: flex
    align-items: center
  &__more
    margin-right: 3rem
    +fs(16px)
    font-weight: 500
    line-height: 1
    text-decoration-line: underline
    color: #003062
  &__pagination
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 250px
  &__slider
    overflow: inherit
    margin-top: 4rem
  &__btn
    width: 53px
    height: 53px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #003062
    border-radius: 100%
    margin-left: 1.2rem
    transition: .5s linear
    flex-shrink: 0
    cursor: pointer
    &_next
      margin-left: 2rem
    svg
      width: 12px
    path
      stroke: #003062
      transition: .5s linear
    &:hover
      transform: scale(1.1)
      background: #004083
      border-color: #004083
      path
        stroke: #fff
    &:active
      background: #002953
      border-color: #002953
      path
        stroke: #fff
  &__slide
    border-radius: 6px
    &_large
      max-width: 662px
    &_small
      max-width: 285px
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 6px
    height: 284px
    object-fit: cover
  &__caption
    position: absolute
    top: 3.5rem
    left: 3.5rem
    +fs(35px)
    font-weight: 500
    line-height: 1
    max-width: 270px
    color: #fff

.sale-page
  &__title
    margin-bottom: 3rem
    +fs(42px)
    line-height: 1
    font-weight: 600
  &__list
    flex-wrap: wrap
    display: flex
  &__link
    display: block
    position: relative
    margin-right: .3rem
    margin-bottom: 0.3rem
    &:nth-of-type(3n)
      margin-right: 0
    &_large
      max-width: 622px
    &_small
      max-width: 285px
      .sale-page__caption
        +fs(30px)
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 6px
    height: 284px
    object-fit: cover
  &__caption
    position: absolute
    top: 3.5rem
    left: 3.5rem
    +fs(35px)
    font-weight: 500
    line-height: 1
    max-width: 270px
    color: #fff
  &__control
    margin-top: 4.5rem
    padding-top: 4.5rem
    border-top: 1px solid #4D545A
    text-align: center