include ../static/pug/global
<!DOCTYPE html>
html
  +head('Главная')
  body.index
    +header()
    +banner()
    +history('index')
    +vantage('index')
    +build('arch')
    +variants('index')
    +visual()
    +type()
    +landscaping()
    +flat()
    +location()
    +sale('index')
    +news('index')
    +callback('v1')
    +step('buy')
    +build('step')
    +docs()
    +team()
    +footer('index')
    include ../static/pug/_scripts