include ../static/pug/global
<!DOCTYPE html>
html
  +head('Ипотека 0% первый год + скидки до 10% Дельвиг')
  body.single
    +header('page')
    +sale('page')
    +footer('sale-page')
    include ../static/pug/_scripts