mixin vantage(vars)
  +b.vnt
    +e.inner.inner
      +e.H2.title Преимущества
      +e.list
        +e.col
          +e.box
            +e.IMG.pic(src='/images/vtn-1.jpg' alt='')
            +e.P.numb 01
            +e.content
              +e.P.caption Видовые
                br
                | квартиры
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
        +e.col
          +e.box
            +e.IMG.pic(src='/images/vtn-2.jpg' alt='')
            +e.P.numb 02
            +e.content
              +e.P.caption Запоминающаяся архитектура
                br
                | с подсветкой
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
          +e.box
            +e.IMG.pic(src='/images/vtn-3.jpg' alt='')
            +e.P.numb 03
            +e.content
              +e.P.caption Квартиры 
                br
                | с террасами 
                br
                | и палисадниками
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
        +e.col_tpl-1
          +e.box
            +e.IMG.pic(src='/images/vtn-4.jpg' alt='')
            +e.P.numb 04
            +e.content
              +e.P.caption Система 
                br
                | комфорта
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
          +e.box
            +e.IMG.pic(src='/images/vtn-5.jpg' alt='')
            +e.P.numb 05
            +e.content
              +e.P.caption Подземный 
                br
                | паркинг
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
        +e.col_tpl-2
          +e.box
            +e.IMG.pic(src='/images/vtn-6.jpg' alt='')
            +e.P.numb 06
            +e.content
              +e.P.caption Благоустроенный 
                br
                | двор
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
          +e.box
            +e.IMG.pic(src='/images/vtn-7.jpg' alt='')
            +e.P.numb 07
            +e.content
              +e.P.caption Высокие 
                br
                | потолки
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
        +e.col_tpl-3
          +e.box
            +e.IMG.pic(src='/images/vtn-8.jpg' alt='')
            +e.P.numb 08
            +e.content
              +e.P.caption Свободная 
                br
                | планировка
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
          +e.box
            +e.IMG.pic(src='/images/vtn-9.jpg' alt='')
            +e.P.numb 09
            +e.content
              +e.P.caption Центр 
                br
                | города
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города
        +e.col_tpl-4
          +e.box
            +e.IMG.pic(src='/images/vtn-10.jpg' alt='')
            +e.P.numb 10
            +e.content
              +e.P.caption Общественные 
                br
                | пространства
              +e.text
                p Окна увеличенного размера подарят много света, а в сочетании с эркерами создают эффект дополнительного пространства в квартире для наслаждения прекрасными видами на Волгу и историческую часть города