mixin banner(state)
  +b.banner
    +e.slider.swiper-container
      .swiper-wrapper
        +e.slide.swiper-slide
          +e.picture
            +e.IMG.pic(src='/images/banner-1.jpg' alt='')
          +e.content.inner
            +e.P.sign Ввод в эксплуатацию  /
              span 2025 
            +e.info
              +e.P.title Редкие форматы квартир
              +e.P.subtitle Терраса, патио, окно в ванной, эркеры и увеличенные потолки
              +e.A.btn.btn_brown Выбрать квартиру
        +e.slide.swiper-slide
          +e.picture
            +e.IMG.pic(src='/images/banner-1.jpg' alt='')
          +e.content.inner
            +e.P.sign Ввод в эксплуатацию
              span 2025 
            +e.info
              +e.P.title Редкие форматы квартир
              +e.P.subtitle Терраса, патио, окно в ванной, эркеры и увеличенные потолки
              +e.A.btn.btn_brown Выбрать квартиру
        +e.slide.swiper-slide
          +e.picture
            +e.IMG.pic(src='/images/banner-1.jpg' alt='')
          +e.content.inner
            +e.P.sign Ввод в эксплуатацию
              span 2025 
            +e.info
              +e.P.title Редкие форматы квартир
              +e.P.subtitle Терраса, патио, окно в ванной, эркеры и увеличенные потолки
              +e.A.btn.btn_brown Выбрать квартиру
      +e.pag
        +e.rad
        .swiper-pagination