mixin docs(vars)
  +b.docs
    +e.inner.inner
      +e.H2.title документы
      +e.tabs
        +e.nav
          +e.BUTTON.btn.active Разрешительная документация
          +e.BUTTON.btn Проектные декларации
          +e.BUTTON.btn Проектная документация
        +e.wrap
          +e.box
            +e.list
              +e.A.item(href="#" download)
                +e.icon_pdf
                +e.content
                  +e.P.caption Проектная декларация №1.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info PDF, 3 MB
              +e.A.item(href="#" download)
                +e.icon_doc
                +e.content
                  +e.P.caption Проектная декларация №2.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info DOC, 3 MB
              +e.A.item(href="#" download)
                +e.icon_xls
                +e.content
                  +e.P.caption Проектная декларация №2.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info XLS, 3 MB
              +e.A.item(href="#" download)
                +e.icon_pdf
                +e.content
                  +e.P.caption Проектная декларация №1.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info PDF, 3 MB
              +e.A.item(href="#" download)
                +e.icon_doc
                +e.content
                  +e.P.caption Проектная декларация №2.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info DOC, 3 MB
              +e.A.item(href="#" download)
                +e.icon_xls
                +e.content
                  +e.P.caption Проектная декларация №2.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info XLS, 3 MB
              +e.A.item(href="#" download)
                +e.icon_pdf
                +e.content
                  +e.P.caption Проектная декларация №1.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info PDF, 3 MB
              +e.A.item(href="#" download)
                +e.icon_doc
                +e.content
                  +e.P.caption Проектная декларация №2.
                  +e.P.date 30.09.2020
                    sapn 20:07:00
                +e.info DOC, 3 MB