mixin news(state)
  if state == 'index'
    +b.news
      +e.head.inner
        +e.H2.title Новости
        +e.control
          +e.A.more(href='#') Все новости
          +e.pagination
            +e.btn_prev
              svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 9')
                path(d='M4 8 1 4.5 4 1M2 4.5h9' stroke-linecap='round' stroke-linejoin='round')
            +e.btn_next
              svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 9')
                path(d='m8 8 3-3.5L8 1M10 4.5H1' stroke-linecap='round' stroke-linejoin='round')
      +e.slider.swiper-container
        .swiper-wrapper
          +e.slide.swiper-slide
            +e.A.link(href='#')
              +e.IMG.pic(src='/images/news-1.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.slide.swiper-slide
            +e.A.link(href='#')
              +e.IMG.pic(src='/images/news-2.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.slide.swiper-slide
            +e.A.link(href='#')
              +e.IMG.pic(src='/images/news-3.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 75
          +e.slide.swiper-slide
            +e.A.link(href='#')
              +e.IMG.pic(src='/images/news-4.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 75
          +e.slide.swiper-slide
            +e.A.link(href='#')
              +e.IMG.pic(src='/images/news-5.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 75
  if state == 'list'
    +b.news-list.section
      +e.inner.inner
        +b.A.back(href="#") < Назад
        +e.H1.title Новости
        +e.elems
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-6.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-7.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-8.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-9.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-10.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-11.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-12.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-13.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-14.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-15.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-16.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-17.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
        +e.control
          +e.BUTTON.btn.btn_brown Показать еще (
            span 32
            |)
  if state == 'page'
    +b.news-page.section
      +e.inner.inner
        +b.A.back(href="#") < Назад
        +e.head
          +e.H1.title Cистема видеонаблюдения снаружи и внутри комплекса
          +e.date
            p Четверг, 25 января
            span 2022
        +e.content
          +e.P.text Многоквартирный дом со встроенными помещениями общественного назначения и 
            b подземной автостоянкой
            |. Здание представляет собой Г-образный дом с аркой. В стилистике использованы приемы модернизированного 
            b «ар-деко»
            |. Такое решение придает зданию торжественность.
          +e.IMG.pic(src="/images/news-single-1.jpg")
          +e.row
            +e.text
              p Архитектурное пространство квартиры во многом определяется психофизиологическими требованиями человеческого организма. Количество этажей здания, его планировка внутреннего пространства, площадь и высота квартир, связь с природной и городской средой через окна комнат или через расположение балконов и лоджий - везде важны психологические и физиологические аспекты восприятия человеком окружающей среды.
              p Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека.
              b Схематически эти ячейки представлены в виде квадрата 
              |с "светлыми фасадами" - четырьмя внешними поверхностями, вдоль которых расположены жилые помещения со световыми проемами (окнами). 
              p При необходимости блокирования жилых клеток, т.е. когда они сгруппированы общими внешними стенами, "светлый фронт" клетки уменьшается по мере увеличения количества перегородок. Одна из основных функций жилого помещения заключается в том, чтобы позволить жильцу общаться с внешним миром. Кроме окон, важную роль играют и открытые пространства квартиры - балконы, лоджии, веранды, террасы.
            +b.share
              +e.P.title поделиться
              +e.list
                +e.A.link(href='#')
                  +e.IMG.pic(src='/icon/icon-social-1.svg' alt='')
                +e.A.link(href='#')
                  +e.IMG.pic(src='/icon/icon-social-2.svg' alt='')
                +e.A.link(href='#')
                  +e.IMG.pic(src='/icon/icon-social-4.svg' alt='')
          +e.BLOCKQUOTE.blockquote «Высота квартир, связь с природной и городской средой через окна комнат или через расположение.”
          +e.P.text Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека. Схематически эти ячейки представлены в виде квадрата с "светлыми фасадами" - четырьмя внешними поверхностями, вдоль которых расположены жилые помещения со световыми проемами (окнами). 
          +e.FIGURE.figure
            +e.IMG.fig-pic(src='/images/news-single-2.jpg' alt='')
            +e.FIGCAPTION.figcaption Дом Дельвига в 
              b Нижнем Новгороде
          +e.text
            +e.H3.caption Нумерация
            ol
              li Архитектурное пространство квартиры во многом определяется психофизиологическими требованиями человеческого организма.
              li Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека. 
              li При необходимости блокирования жилых клеток, т.е. когда они сгруппированы общими внешними стенами, "светлый фронт" клетки уменьшается по мере увеличения количества перегородок. 
          +callback('v1')
          +e.text
            +e.H3.caption Буллеты
            ul
              li Архитектурное пространство квартиры во многом определяется психофизиологическими требованиями человеческого организма.
              li Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека. 
              li При необходимости блокирования жилых клеток, т.е. когда они сгруппированы общими внешними стенами, "светлый фронт" клетки уменьшается по мере увеличения количества перегородок. 
          +e.gallery
            +e.gallery-item
              +e.IMG.gallery-pic(src='/images/gallery-1.png' alt='')
              +e.P.gallery-text Улицы и прохожие
            +e.gallery-item
              +e.IMG.gallery-pic(src='/images/gallery-2.png' alt='')
              +e.P.gallery-text Высокое здание
            +e.gallery-item
              +e.IMG.gallery-pic(src='/images/gallery-3.png' alt='')
              +e.P.gallery-text Уникальные окна
          +e.text
            p Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека. Схематически эти ячейки представлены в виде квадрата с "светлыми фасадами" - четырьмя внешними поверхностями, вдоль которых расположены жилые помещения со световыми проемами (окнами). 
            p Архитектурное пространство квартиры во многом определяется психофизиологическими требованиями человеческого организма. Количество этажей здания, его планировка внутреннего пространства, площадь и высота квартир, связь с природной и городской средой через окна комнат или через расположение балконов и лоджий - везде важны психологические и физиологические аспекты восприятия человеком окружающей среды.
            p Жилые здания измеряются в "жилых единицах" или "жилых единицах" на домашнее хозяйство, а единица измерения - в м2 общей площади на человека. Схематически эти ячейки представлены в виде квадрата с "светлыми фасадами" - четырьмя внешними поверхностями, вдоль которых расположены жилые помещения со световыми проемами (окнами). 
            p При необходимости блокирования жилых клеток, т.е. когда они сгруппированы общими внешними стенами, "светлый фронт" клетки уменьшается по мере увеличения количества перегородок. Одна из основных функций жилого помещения заключается в том, чтобы позволить жильцу общаться с внешним миром. Кроме окон, важную роль играют и открытые пространства квартиры - балконы, лоджии, веранды, террасы.
          +e.figure
            +b.video
              +e.IMG.pic(src='/images/video-3.png' alt='')
              +e.A.play
              +e.view 1 313
            +e.figcaption Дом Дельвига в 
              b Нижнем Новгороде

  if state == 'similar'
    +b.news-similar
      +e.inner.inner
        +e.P.title Похожие статьи
        +e.elems
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-6.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Cистема видеонаблюдения снаружи и внутри комплекса
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-7.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Безопасность и сохранность вашего имущества
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313
          +e.A.link(href='#')
            +e.IMG.pic(src='/images/news-8.png' alt='')
            +e.content
              +e.P.date 25.01.2022
              +e.P.caption Добраться до вашего автомобиля
              +e.text
                p Район, который объединяет в себе комфорт, надежность и красоту.  Вдхновленные лучшим...
              +e.view 1 313